@model GroupInfoDto

<form id="updateGroupForm" asp-action="UpdateGroup" asp-controller="Groups" method="post" class="card p-3">
    <input type="hidden" asp-for="ID" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label"> Group Name</label>
        <input asp-for="Name" class="form-control" readonly="@Model.IsActive" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
    <label asp-for="CurrencyID" class="form-label"> Preferred Currency</label>
    <select asp-for="CurrencyID"
            asp-items="Model.CurrencyOptions"
            class="form-select @(Model.IsActive ? "is-readonly" : "")"
        >
    </select>
    </div>

    @if (Model.IsActive)
    {
        <input type="hidden" asp-for="CurrencyID" />
    }




    <div class="mb-3">
        <label asp-for="FrequencyName" class="form-label">Cycle Frequency</label>
        <select asp-for="FrequencyName" asp-items="Model.FrequencyOptions"
                class="form-select @(Model.IsActive ? "is-readonly" : "")">
        </select>
        <span asp-validation-for="FrequencyName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CurrentMembers" class="form-label">Currently available members </label>
        <input asp-for="CurrentMembers" class="form-control" type="number" readonly />
    </div>

    <div class="mb-3">
        <label asp-for="MaxMembers" class="form-label">Maximum Allowed Members</label>
        <input asp-for="MaxMembers" class="form-control" type="number" readonly="@Model.IsActive" min="@Model.CurrentMembers" max="50" />
    </div>

    <div class="mb-3">
        <label asp-for="StartDate" class="form-label">Group Started on</label>
        <input asp-for="StartDate" class="form-control is-readonly" type="date" readonly />
    </div>

    <div class="form-check mb-3">
        <input asp-for="IsActive" class="form-check-input" id="isActiveCheckbox" type="checkbox" />
        <label asp-for="IsActive" class="form-check-label">Activate Group</label>
    </div>

    <button type="submit" class="btn btn-success">Save Changes</button>
</form>

<div id="success-alert" class="alert alert-success mt-3 d-none" role="alert">
    Group updated successfully!
</div>

<div id="error-alert" class="alert alert-danger mt-3 d-none" role="alert">
    Something went wrong. Please try again.
</div>

<style>
    .is-readonly {
        pointer-events: none;
        cursor: default;
        opacity: 0.7;
    }
</style>



